openapi: 3.0.4
info:
  title: ProgramInterface.com
  description: ProgramInterface.com API client
  contact:
    name: ProgramInterface.com
    url: https://www.ProgramInterface.com
    email: programinterface@programinterface.com
  version: 0.0.1
servers:
  - url: https://api.fci.cloud
  - url: https://api.inspirenet.cloud
paths:
  '/app/api/Object/{objectType}({objectId})/{formName}/DataForm':
    get:
      tags:
        - Main
      description: Get Form for Object
      operationId: GetFormForObject
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - Main
      description: Execute action in Object Form
      operationId: ExecuteActionInObjectForm
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/{objectType}/{formName}/DataForm':
    get:
      tags:
        - Main
      description: Get Form for Object Type
      operationId: GetFormForObjectType
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - Main
      description: Execute action in Object Type Form
      operationId: ExecuteActionInObjectTypeForm
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/salesforce/api/Object/{objectType}({objectId})/{formName}/DataForm':
    get:
      tags:
        - Salesforce
      description: Get Form for Object
      operationId: GetFormForObjectFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - Salesforce
      description: Execute action in Object Form
      operationId: ExecuteActionInObjectFormFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/salesforce/api/Object/{objectType}/{formName}/DataForm':
    get:
      tags:
        - Salesforce
      description: Get Form for Object Type
      operationId: GetFormForObjectTypeFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - Salesforce
      description: Execute action in Object Type Form
      operationId: ExecuteActionInObjectTypeFormFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/{objectType}/Tags':
    get:
      tags:
        - Generic
      description: Get Tags previously used for Object Type
      operationId: GetTagsForObject
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: partialTag
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AugmentedTag'
  '/app/api/Object/{objectType}/Lookup':
    post:
      tags:
        - Generic
      description: Lookup Values for an Object
      operationId: GetReferenceValues
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceValue'
  '/app/api/Object/{objectType}/Lookup({fieldName})':
    post:
      tags:
        - Generic
      description: Lookup Values for an Object
      operationId: GetReferenceValuesWithField
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: fieldName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceValue'
  '/app/api/Object/{objectType}({objectId})/UserAction({eventId})/DataForm':
    get:
      tags:
        - Main
      description: Get User Action Form for Object
      operationId: get--user-action-form
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - Main
      description: Execute User Action for Object
      operationId: run--user-action
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/{objectType}({objectId})/Menu':
    get:
      tags:
        - Main
      description: Get Menu for Object
      operationId: get--object--menu
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Menu'
  '/app/api/Object/{objectType}({id})/Recent':
    post:
      tags:
        - core
      summary: Add Object to the list of recents for the user
      description: AddObjectToRecents
      operationId: addToRecents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: Object Id
            type: string
        - name: objectType
          in: path
          required: true
          schema:
            title: Object Type
            type: string
      responses: { }
  '/files/api/File({id})/Upload':
    put:
      tags:
        - files
      summary: Finish Upload
      description: FinishUpload
      operationId: finishUpload
      parameters:
        - name: id
          in: path
          description: Remote File Id
          required: true
          schema:
            title: File Id
            type: string
            description: Remote File Id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Response from Finish Upload
                required:
                  - Success
                type: object
                properties:
                  Message:
                    title: Message
                    type: string
                    description: Final Status
                  Success:
                    title: Success
                    type: boolean
                    description: Whether it was successful or not
                description: Response from Finish Upload
    get:
      tags:
        - files
      summary: Get Pre-signed Url to Upload File Contents
      description: PrepareUpload
      operationId: prepareUpload
      parameters:
        - name: id
          in: path
          description: Remote File Id
          required: true
          schema:
            title: Remote File Id
            type: string
            description: Remote File Id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Response from Prepare Upload
                required:
                  - Success
                type: object
                properties:
                  Message:
                    title: Message
                    type: string
                    description: Final Status
                  Success:
                    title: Success
                    type: boolean
                    description: Whether it was successful or not
                  Url:
                    title: Url
                    type: string
                    description: Pre-signed Url
                    format: uri
                description: Response from Prepare Upload
  /google/api/AppPlaces/Autocomplete:
    get:
      tags:
        - google
      description: Autocomplete
      operationId: GetAddressPredictions
      parameters:
        - name: search
          in: query
          schema:
            title: search
            type: string
        - name: center
          in: query
          schema:
            title: center
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Address Prediction Response
                type: object
                properties:
                  predictions:
                    title: predictions
                    type: array
                    items:
                      $ref: '#/components/schemas/AddressPrediction'
                description: Address Prediction Response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/google/api/AppPlaces({id})':
    get:
      tags:
        - google
      description: GetPlace
      operationId: GetGooglePlace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: id
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Google Place Address
                type: object
                properties:
                  formattedAddress:
                    title: formattedAddress
                    type: string
                  streetNumber:
                    title: streetNumber
                    type: string
                  street:
                    title: street
                    type: string
                  neighborhood:
                    title: neighborhood
                    type: string
                  city:
                    title: city
                    type: string
                  state:
                    title: state
                    type: string
                  county:
                    title: county
                    type: string
                  country:
                    title: country
                    type: string
                  postalCode:
                    title: postalCode
                    type: string
                  postalCodeSuffix:
                    title: postalCodeSuffix
                    type: string
                  coordinates:
                    $ref: '#/components/schemas/GeoJSONPoint'
                  components:
                    title: components
                    type: object
                    additionalProperties:
                      type: string
                description: Google Place Address
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  /app/api/PushNotification:
    put:
      tags:
        - google
      summary: Update Push Notification Registration
      description: Update Push Notification Registration
      operationId: updatePushNotificationRegistration
      parameters:
        - name: token
          in: query
          required: true
          schema:
            title: Token
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Successful response to update Push Notification Registration operation
                required:
                  - registrationId
                type: object
                properties:
                  registrationId:
                    title: Registration Id
                    type: string
                description: Successful response to update Push Notification Registration operation
  '/productcatalog/api/RoomSelection({objectId})/AddItem/UserAction({eventId})':
    post:
      tags:
        - productCatalog
      description: Add Item to Room Selection
      operationId: addItemToRoomSelection
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            title: ObjectId
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            title: EventId
            type: string
      requestBody:
        description: Body for addItemToRoomSelection operation
        content:
          application/json:
            schema:
              title: Body for addItemToRoomSelection operation
              required:
                - itemId
                - quantityCriteria
                - source
              type: object
              properties:
                itemId:
                  title: Item
                  type: string
                itemId|Name:
                  title: ItemId|Name
                  type: string
                quantity:
                  title: Quantity
                  type: number
                quantityCriteria:
                  title: Quantity Criteria
                  enum:
                    - Arbitrary
                    - MainProductArea
                    - Perimeter
                    - RoomArea
                  type: string
                  x-enum-varnames:
                    - ARBITRARY
                    - MAIN_PRODUCT_AREA
                    - PERIMETER
                    - ROOM_AREA
                  x-enum-descriptions:
                    - Specify Quantity
                    - Use Main Product Quantity
                    - Use Room Perimeter
                    - Use Room Area
                source:
                  title: Source
                  enum:
                    - Freight
                    - Item
                    - Other
                    - ProductType
                    - Room
                  type: string
                  x-enum-varnames:
                    - FREIGHT
                    - ITEM
                    - OTHER
                    - PRODUCT_TYPE
                    - ROOM
                  x-enum-descriptions:
                    - Freight
                    - Item
                    - Other
                    - Product Type
                    - Room
                uom:
                  title: UOM
                  type: string
              description: Body for addItemToRoomSelection operation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  /productcatalog/api/Estimate/RoomSelections:
    post:
      tags:
        - productCatalog
      summary: Create Estimate from Room Selections
      description: 'Create From Selections '
      operationId: createFromSelections
      requestBody:
        description: 'Create Estimate from Room Selections - Request Body '
        content:
          application/json:
            schema:
              title: 'Create Estimate from Room Selections - Request Body '
              required:
                - name
                - roomSelectionIds
              type: object
              properties:
                description:
                  title: Description
                  type: string
                flowid:
                  title: Flow
                  type: string
                flowid|Name:
                  title: FlowId|Name
                  type: string
                name:
                  title: Name
                  type: string
                objectStatusId:
                  title: Object Status
                  type: string
                objectStatusId|Name:
                  title: ObjectStatusId|Name
                  type: string
                roomSelectionIds:
                  title: Room Selections
                  type: array
                  items:
                    type: string
                projectExternalId:
                  title: Project
                  type: string
                projectExternalId|Name:
                  title: ProjectExternalId|Name
                  type: string
              description: 'Create Estimate from Room Selections - Request Body '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimate'
  /productcatalog/api/RoomSelection:
    post:
      tags:
        - productCatalog
      summary: Create Room Selection
      description: CreateRoomSelection
      operationId: createRoomSelection
      requestBody:
        description: Request body to Create Room Selection
        content:
          application/json:
            schema:
              title: Request body to Create Room Selection
              required:
                - binId
                - itemId
                - projectExternalId
                - roomIds
                - sessionKey
                - templateId
              type: object
              properties:
                binId:
                  title: BinId
                  type: string
                  format: uuid
                description:
                  title: Description
                  type: string
                itemId:
                  title: Item
                  type: string
                itemId|Name:
                  title: ItemId|Name
                  type: string
                name:
                  title: Name
                  type: string
                projectExternalId:
                  title: Project
                  type: string
                projectExternalId|Name:
                  title: ProjectExternalId|Name
                  type: string
                roomIds:
                  title: Room Ids
                  type: array
                  items:
                    type: string
                sessionKey:
                  title: Session Key
                  type: string
                templateId:
                  title: Template
                  type: string
                templateId|Name:
                  title: TemplateId|Name
                  type: string
              description: Request body to Create Room Selection
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSelection'
  /productcatalog/api/RoomSelection/Find:
    put:
      tags:
        - productCatalog
      summary: Find Room Selection and auto-create when possible
      description: FindRoomSelection
      operationId: findRoomSelection
      requestBody:
        description: Request body to find Room Selection
        content:
          application/json:
            schema:
              title: Request body to find Room Selection
              required:
                - binId
                - description
                - itemId
                - name
                - projectExternalId
                - roomIds
                - sessionKey
              type: object
              properties:
                binId:
                  title: BinId
                  type: string
                  format: uuid
                description:
                  title: Description
                  type: string
                itemId:
                  title: Item
                  type: string
                itemId|Name:
                  title: ItemId|Name
                  type: string
                name:
                  title: Name
                  type: string
                projectExternalId:
                  title: Project
                  type: string
                projectExternalId|Name:
                  title: ProjectExternalId|Name
                  type: string
                roomIds:
                  title: Room Ids
                  type: array
                  items:
                    type: string
                sessionKey:
                  title: Session Key
                  type: string
              description: Request body to find Room Selection
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSelection'
  '/app/api/User({id})/Impersonate':
    get:
      tags:
        - user
      summary: Impersonate User
      description: ImpersonateUser
      operationId: impersontateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: User Id
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  '/app/api/Object/CatalogFeed({objectId})/{formName}/DataForm':
    get:
      tags:
        - CatalogFeed
      description: Get Form for Object
      operationId: GetFormForCatalogFeed
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - b2b
              - clone
              - mal
              - xls
            type: string
            x-enum-varnames:
              - B2B
              - CLONE
              - MAL
              - XLS
            x-enum-descriptions:
              - B2B
              - Clone
              - MAL
              - CSV
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/CatalogFeed/{formName}/DataForm':
    get:
      tags:
        - CatalogFeed
      description: Get Form for Object Type
      operationId: GetFormForTypeCatalogFeed
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - b2b
              - clone
              - mal
              - xls
            type: string
            x-enum-varnames:
              - B2B
              - CLONE
              - MAL
              - XLS
            x-enum-descriptions:
              - B2B
              - Clone
              - MAL
              - CSV
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/CatalogFeed/Filter:
    post:
      tags:
        - CatalogFeed
      description: Filter Catalog Feeds
      operationId: filter--CatalogFeed
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--CatalogFeed--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--CatalogFeed--response'
  /app/api/Object/CatalogFeed/Recent:
    post:
      tags:
        - CatalogFeed
      description: Recent Catalog Feeds
      operationId: recent--CatalogFeed
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--CatalogFeed--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--CatalogFeed--response'
  /app/api/Object/CatalogFeed/DataView:
    post:
      tags:
        - CatalogFeed
      description: DataView Catalog Feeds
      operationId: data-view--CatalogFeed
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--CatalogFeed--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--CatalogFeed--response'
  '/app/api/Object/Entity({objectId})/{formName}/DataForm':
    get:
      tags:
        - Entity
      description: Get Form for Object
      operationId: GetFormForEntity
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
            x-enum-varnames:
              - ACCOUNT
              - ORGANIZATION
              - USER
            x-enum-descriptions:
              - Account
              - Organization
              - User
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/Entity/{formName}/DataForm':
    get:
      tags:
        - Entity
      description: Get Form for Object Type
      operationId: GetFormForTypeEntity
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
            x-enum-varnames:
              - ACCOUNT
              - ORGANIZATION
              - USER
            x-enum-descriptions:
              - Account
              - Organization
              - User
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/Entity/Filter:
    post:
      tags:
        - Entity
      description: Filter Entities
      operationId: filter--Entity
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Entity--response'
  /app/api/Object/Entity/Recent:
    post:
      tags:
        - Entity
      description: Recent Entities
      operationId: recent--Entity
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Entity--response'
  /app/api/Object/Entity/DataView:
    post:
      tags:
        - Entity
      description: DataView Entities
      operationId: data-view--Entity
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--Entity--response'
  '/app/api/Object/EntityOwnedModel({objectId})/{formName}/DataForm':
    get:
      tags:
        - EntityOwnedModel
      description: Get Form for Object
      operationId: GetFormForEntityOwnedModel
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/EntityOwnedModel/{formName}/DataForm':
    get:
      tags:
        - EntityOwnedModel
      description: Get Form for Object Type
      operationId: GetFormForTypeEntityOwnedModel
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/LeadType({objectId})/{formName}/DataForm':
    get:
      tags:
        - LeadType
      description: Get Form for Object
      operationId: GetFormForLeadType
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/LeadType/{formName}/DataForm':
    get:
      tags:
        - LeadType
      description: Get Form for Object Type
      operationId: GetFormForTypeLeadType
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/LeadType/Filter:
    post:
      tags:
        - LeadType
      description: Filter Lead Type
      operationId: filter--LeadType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--LeadType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--LeadType--response'
  /app/api/Object/LeadType/Recent:
    post:
      tags:
        - LeadType
      description: Recent Lead Type
      operationId: recent--LeadType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--LeadType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--LeadType--response'
  /app/api/Object/LeadType/DataView:
    post:
      tags:
        - LeadType
      description: DataView Lead Type
      operationId: data-view--LeadType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--LeadType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--LeadType--response'
  '/app/api/Object/ObjectType({objectId})/{formName}/DataForm':
    get:
      tags:
        - ObjectType
      description: Get Form for Object
      operationId: GetFormForObjectType
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: FullName
          in: query
          schema:
            title: Full Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/ObjectType/{formName}/DataForm':
    get:
      tags:
        - ObjectType
      description: Get Form for Object Type
      operationId: GetFormForTypeObjectType
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: FullName
          in: query
          schema:
            title: Full Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/ObjectType/Filter:
    post:
      tags:
        - ObjectType
      description: Filter Object Types
      operationId: filter--ObjectType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ObjectType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ObjectType--response'
  /app/api/Object/ObjectType/Recent:
    post:
      tags:
        - ObjectType
      description: Recent Object Types
      operationId: recent--ObjectType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ObjectType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ObjectType--response'
  /app/api/Object/ObjectType/DataView:
    post:
      tags:
        - ObjectType
      description: DataView Object Types
      operationId: data-view--ObjectType
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ObjectType--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--ObjectType--response'
  '/app/api/Object/User({objectId})/UserAction(b1579ee4-a94c-44ed-9a9a-805d43592ef2)/DataForm':
    get:
      tags:
        - User
      description: Create File
      operationId: get--User--CreateFile--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: FileName
          in: query
          schema:
            title: File Name
            type: string
            description: File Name
        - name: ContentType
          in: query
          schema:
            title: Content Type
            enum:
              - application/json
              - model/vnd.usdz+zip
            type: string
            description: Content Type
            x-enum-varnames:
              - APPLICATIONJSON
              - MODELVNDUSDZZIP
            x-enum-descriptions:
              - JSON
              - USDZ File
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - User
      description: Create File
      operationId: run--User--CreateFile--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/User({objectId})/UserAction(b1579ee4-a94c-44ed-9a9a-805d43592ef2)':
    post:
      tags:
        - User
      description: Create File
      operationId: start--User--CreateFile
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--User--CreateFile--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/User({objectId})/UserAction(2847b3fd-fbe3-40e8-8868-8c213406f6d0)/DataForm':
    get:
      tags:
        - User
      description: Feedback
      operationId: get--User--Feedback--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Type
          in: query
          schema:
            title: Type
            enum:
              - Bug
              - Comment
              - Suggestion
            type: string
            x-enum-varnames:
              - BUG
              - COMMENT
              - SUGGESTION
            x-enum-descriptions:
              - Bug
              - Comment
              - Suggestion
        - name: Message
          in: query
          schema:
            title: Message
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - User
      description: Feedback
      operationId: run--User--Feedback--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/User({objectId})/UserAction(2847b3fd-fbe3-40e8-8868-8c213406f6d0)':
    post:
      tags:
        - User
      description: Feedback
      operationId: start--User--Feedback
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--User--Feedback--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/User({objectId})/{formName}/DataForm':
    get:
      tags:
        - User
      description: Get Form for Object
      operationId: GetFormForUser
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: UserRoleId
          in: query
          schema:
            title: Role
            enum:
              - Admin
              - Manager
              - Profile
              - User
            type: string
            x-enum-varnames:
              - ADMIN
              - MANAGER
              - PROFILE
              - USER
            x-enum-descriptions:
              - Admin
              - Manager
              - Limited Profile
              - User
        - name: ObjectStatusId
          in: query
          schema:
            title: Status
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
            x-enum-varnames:
              - ACCOUNT
              - ORGANIZATION
              - USER
            x-enum-descriptions:
              - Account
              - Organization
              - User
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/User/{formName}/DataForm':
    get:
      tags:
        - User
      description: Get Form for Object Type
      operationId: GetFormForTypeUser
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: UserRoleId
          in: query
          schema:
            title: Role
            enum:
              - Admin
              - Manager
              - Profile
              - User
            type: string
            x-enum-varnames:
              - ADMIN
              - MANAGER
              - PROFILE
              - USER
            x-enum-descriptions:
              - Admin
              - Manager
              - Limited Profile
              - User
        - name: ObjectStatusId
          in: query
          schema:
            title: Status
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
            x-enum-varnames:
              - ACCOUNT
              - ORGANIZATION
              - USER
            x-enum-descriptions:
              - Account
              - Organization
              - User
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/User/Filter:
    post:
      tags:
        - User
      description: Filter Users
      operationId: filter--User
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--User--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--User--response'
  /app/api/Object/User/Recent:
    post:
      tags:
        - User
      description: Recent Users
      operationId: recent--User
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--User--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--User--response'
  /app/api/Object/User/DataView:
    post:
      tags:
        - User
      description: DataView Users
      operationId: data-view--User
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--User--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--User--response'
  '/app/api/Object/ai.Assistant({objectId})/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object
      operationId: GetFormForai|Assistant
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
            description: Is Active
        - name: ProfileIds
          in: query
          schema:
            title: Profiles
            type: array
            items:
              type: string
            description: Profiles
        - name: Role
          in: query
          schema:
            title: Role
            enum:
              - Admin
              - Manager
              - User
            type: string
            description: Role
            x-enum-varnames:
              - ADMIN
              - MANAGER
              - USER
            x-enum-descriptions:
              - Admin
              - Manager
              - User
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/ai.Assistant/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object Type
      operationId: GetFormForTypeai|Assistant
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
            description: Is Active
        - name: ProfileIds
          in: query
          schema:
            title: Profiles
            type: array
            items:
              type: string
            description: Profiles
        - name: Role
          in: query
          schema:
            title: Role
            enum:
              - Admin
              - Manager
              - User
            type: string
            description: Role
            x-enum-varnames:
              - ADMIN
              - MANAGER
              - USER
            x-enum-descriptions:
              - Admin
              - Manager
              - User
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/ai.Assistant/Filter:
    post:
      tags:
        - ai
      description: Filter AI Assistant
      operationId: filter--ai-Assistant
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Assistant--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ai-Assistant--response'
  /app/api/Object/ai.Assistant/Recent:
    post:
      tags:
        - ai
      description: Recent AI Assistant
      operationId: recent--ai-Assistant
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Assistant--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ai-Assistant--response'
  /app/api/Object/ai.Assistant/DataView:
    post:
      tags:
        - ai
      description: DataView AI Assistant
      operationId: data-view--ai-Assistant
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Assistant--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--ai-Assistant--response'
  '/app/api/Object/ai.Chat({objectId})/UserAction(7651c6be-6e01-4c20-b7e1-d59d17aeb868)/DataForm':
    post:
      tags:
        - ai
      description: Opern Html
      operationId: run--ai-Chat--OpenHtml--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(7651c6be-6e01-4c20-b7e1-d59d17aeb868)':
    post:
      tags:
        - ai
      description: Opern Html
      operationId: start--ai-Chat--OpenHtml
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(71052944-8be3-4cb9-bef0-c4386f2e4685)/DataForm':
    post:
      tags:
        - ai
      description: Copy Generated Content
      operationId: run--ai-Chat--Copy--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(71052944-8be3-4cb9-bef0-c4386f2e4685)':
    post:
      tags:
        - ai
      description: Copy Generated Content
      operationId: start--ai-Chat--Copy
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(f471faeb-f256-4fe7-a57e-2c26c460876d)/DataForm':
    post:
      tags:
        - ai
      description: Share Generated Content
      operationId: run--ai-Chat--Share--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(f471faeb-f256-4fe7-a57e-2c26c460876d)':
    post:
      tags:
        - ai
      description: Share Generated Content
      operationId: start--ai-Chat--Share
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(824be7a0-fb61-4838-96a4-1bc62c27e8f0)/DataForm':
    get:
      tags:
        - ai
      description: Upload Image
      operationId: get--ai-Chat--UploadImage--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileName
          in: query
          schema:
            title: File Name
            type: string
        - name: contentType
          in: query
          schema:
            title: Content Type
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
    post:
      tags:
        - ai
      description: Upload Image
      operationId: run--ai-Chat--UploadImage--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/UserAction(824be7a0-fb61-4838-96a4-1bc62c27e8f0)':
    post:
      tags:
        - ai
      description: Upload Image
      operationId: start--ai-Chat--UploadImage
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--ai-Chat--UploadImage--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
  '/app/api/Object/ai.Chat({objectId})/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object
      operationId: GetFormForai|Chat
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: LastMessage
          in: query
          schema:
            title: Last Message
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: EmbeddedContent|Content
          in: query
          schema:
            title: Content
            type: string
            description: Content
        - name: EmbeddedContent|ContentType
          in: query
          schema:
            title: Content Type
            type: string
            description: Content Type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/ai.Chat/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object Type
      operationId: GetFormForTypeai|Chat
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: LastMessage
          in: query
          schema:
            title: Last Message
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: EmbeddedContent|Content
          in: query
          schema:
            title: Content
            type: string
            description: Content
        - name: EmbeddedContent|ContentType
          in: query
          schema:
            title: Content Type
            type: string
            description: Content Type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/ai.Chat/Filter:
    post:
      tags:
        - ai
      description: Filter AI Chat
      operationId: filter--ai-Chat
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Chat--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ai-Chat--response'
  /app/api/Object/ai.Chat/Recent:
    post:
      tags:
        - ai
      description: Recent AI Chat
      operationId: recent--ai-Chat
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Chat--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ai-Chat--response'
  /app/api/Object/ai.Chat/DataView:
    post:
      tags:
        - ai
      description: DataView AI Chat
      operationId: data-view--ai-Chat
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ai-Chat--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--ai-Chat--response'
  '/app/api/Object/ai.ContentFlowRunResult({objectId})/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object
      operationId: GetFormForContentResult
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ErrorMessage
          in: query
          schema:
            title: Error Message
            type: string
        - name: FlowRunId
          in: query
          schema:
            title: Flow Run
            type: string
        - name: ResultType
          in: query
          schema:
            title: Result Object Type
            type: string
        - name: Success
          in: query
          schema:
            title: Successful?
            type: boolean
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Result|AssistantFeedback
          in: query
          schema:
            title: Assistant Feedback
            type: string
            description: 'Any feedback, instructions, comments or questions from the agent to the user. Respond to the user with short phrases.'
        - name: Result|ChatDescription
          in: query
          schema:
            title: Chat Description
            type: string
            description: Summary of the instructions used to generate the content
        - name: Result|ChatName
          in: query
          schema:
            title: Chat Name
            type: string
            description: Up to 100 characters describing what the content generated is about
        - name: Result|Content
          in: query
          schema:
            title: Content
            type: string
            description: Content generated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/ai.ContentFlowRunResult/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object Type
      operationId: GetFormForTypeContentResult
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: ErrorMessage
          in: query
          schema:
            title: Error Message
            type: string
        - name: FlowRunId
          in: query
          schema:
            title: Flow Run
            type: string
        - name: ResultType
          in: query
          schema:
            title: Result Object Type
            type: string
        - name: Success
          in: query
          schema:
            title: Successful?
            type: boolean
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Result|AssistantFeedback
          in: query
          schema:
            title: Assistant Feedback
            type: string
            description: 'Any feedback, instructions, comments or questions from the agent to the user. Respond to the user with short phrases.'
        - name: Result|ChatDescription
          in: query
          schema:
            title: Chat Description
            type: string
            description: Summary of the instructions used to generate the content
        - name: Result|ChatName
          in: query
          schema:
            title: Chat Name
            type: string
            description: Up to 100 characters describing what the content generated is about
        - name: Result|Content
          in: query
          schema:
            title: Content
            type: string
            description: Content generated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/ai.ContentFlowRunResult/Filter:
    post:
      tags:
        - ai
      description: Filter Contents
      operationId: filter--ContentResult
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ContentResult--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ContentResult--response'
  /app/api/Object/ai.ContentFlowRunResult/Recent:
    post:
      tags:
        - ai
      description: Recent Contents
      operationId: recent--ContentResult
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ContentResult--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ContentResult--response'
  /app/api/Object/ai.ContentFlowRunResult/DataView:
    post:
      tags:
        - ai
      description: DataView Contents
      operationId: data-view--ContentResult
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ContentResult--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--ContentResult--response'
  '/app/api/Object/ai.Prompt({objectId})/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object
      operationId: GetFormForPrompt
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: AssistantId
          in: query
          schema:
            title: Assistant
            type: string
            description: Assistant
        - name: ChatStatuses
          in: query
          schema:
            title: Chat Status
            type: array
            items:
              type: string
            description: Chat Statuses
        - name: Messages|Role
          in: query
          schema:
            title: Role
            enum:
              - Assistant
              - System
              - Tool
              - User
            type: string
            x-enum-varnames:
              - ASSISTANT
              - SYSTEM
              - TOOL
              - USER
            x-enum-descriptions:
              - Assistant
              - System
              - Tool
              - User
        - name: Messages|Text
          in: query
          schema:
            title: Text
            type: string
        - name: Messages|ContentType
          in: query
          schema:
            title: ContentType
            type: string
        - name: Messages|CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/ai.Prompt/{formName}/DataForm':
    get:
      tags:
        - ai
      description: Get Form for Object Type
      operationId: GetFormForTypePrompt
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: AssistantId
          in: query
          schema:
            title: Assistant
            type: string
            description: Assistant
        - name: ChatStatuses
          in: query
          schema:
            title: Chat Status
            type: array
            items:
              type: string
            description: Chat Statuses
        - name: Messages|Role
          in: query
          schema:
            title: Role
            enum:
              - Assistant
              - System
              - Tool
              - User
            type: string
            x-enum-varnames:
              - ASSISTANT
              - SYSTEM
              - TOOL
              - USER
            x-enum-descriptions:
              - Assistant
              - System
              - Tool
              - User
        - name: Messages|Text
          in: query
          schema:
            title: Text
            type: string
        - name: Messages|ContentType
          in: query
          schema:
            title: ContentType
            type: string
        - name: Messages|CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/ai.Prompt/Filter:
    post:
      tags:
        - ai
      description: Filter Prompts
      operationId: filter--Prompt
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Prompt--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Prompt--response'
  /app/api/Object/ai.Prompt:
    post:
      tags:
        - ai
      description: Create Prompt
      operationId: create--Prompt
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Prompt--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
  '/app/api/Object/ai.Prompt({objectId})':
    patch:
      tags:
        - ai
      description: Update Prompt
      operationId: update--Prompt
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Prompt--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
    delete:
      tags:
        - ai
      description: Delete Prompt
      operationId: delete--Prompt
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Prompt-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
  /app/api/Object/ai.Prompt/Recent:
    post:
      tags:
        - ai
      description: Recent Prompts
      operationId: recent--Prompt
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Prompt--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Prompt--response'
  /app/api/Object/ai.Prompt/DataView:
    post:
      tags:
        - ai
      description: DataView Prompts
      operationId: data-view--Prompt
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Prompt--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--Prompt--response'
  '/app/api/Object/app.otg.Settings({objectId})/{formName}/DataForm':
    get:
      tags:
        - app.otg
      description: Get Form for Object
      operationId: GetFormForSettings
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ClientId
          in: query
          schema:
            title: ClientId
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: DirectionsProvider
          in: query
          schema:
            title: Map Application
            enum:
              - AppleMaps
              - GoogleMaps
              - Waze
            type: string
            x-enum-varnames:
              - APPLE_MAPS
              - GOOGLE_MAPS
              - WAZE
            x-enum-descriptions:
              - Apple Maps
              - Google Maps
              - Waze
        - name: PhoneCallProvider
          in: query
          schema:
            title: Call Using...
            enum:
              - Clarity
              - Device
              - OpenPhone
            type: string
            x-enum-varnames:
              - CLARITY
              - DEVICE
              - OPEN_PHONE
            x-enum-descriptions:
              - Clarity (Not supported yet)
              - This Phone
              - OpenPhone
        - name: SMSProvider
          in: query
          schema:
            title: 'Send SMS using... '
            enum:
              - Device
              - OpenPhone
            type: string
            x-enum-varnames:
              - DEVICE
              - OPEN_PHONE
            x-enum-descriptions:
              - This Phone
              - OpenPhone
        - name: Theme
          in: query
          schema:
            title: Theme
            enum:
              - Dark
              - Light
              - System
            type: string
            x-enum-varnames:
              - DARK
              - LIGHT
              - SYSTEM
            x-enum-descriptions:
              - Dark
              - Light
              - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  '/app/api/Object/app.otg.Settings/{formName}/DataForm':
    get:
      tags:
        - app.otg
      description: Get Form for Object Type
      operationId: GetFormForTypeSettings
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: ClientId
          in: query
          schema:
            title: ClientId
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: DirectionsProvider
          in: query
          schema:
            title: Map Application
            enum:
              - AppleMaps
              - GoogleMaps
              - Waze
            type: string
            x-enum-varnames:
              - APPLE_MAPS
              - GOOGLE_MAPS
              - WAZE
            x-enum-descriptions:
              - Apple Maps
              - Google Maps
              - Waze
        - name: PhoneCallProvider
          in: query
          schema:
            title: Call Using...
            enum:
              - Clarity
              - Device
              - OpenPhone
            type: string
            x-enum-varnames:
              - CLARITY
              - DEVICE
              - OPEN_PHONE
            x-enum-descriptions:
              - Clarity (Not supported yet)
              - This Phone
              - OpenPhone
        - name: SMSProvider
          in: query
          schema:
            title: 'Send SMS using... '
            enum:
              - Device
              - OpenPhone
            type: string
            x-enum-varnames:
              - DEVICE
              - OPEN_PHONE
            x-enum-descriptions:
              - This Phone
              - OpenPhone
        - name: Theme
          in: query
          schema:
            title: Theme
            enum:
              - Dark
              - Light
              - System
            type: string
            x-enum-varnames:
              - DARK
              - LIGHT
              - SYSTEM
            x-enum-descriptions:
              - Dark
              - Light
              - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/app.otg.Settings/Upsert/DataForm:
    get:
      tags:
        - app.otg
      description: Get Upsert Form for Object Type
      operationId: GetUpsertFormForTypeSettings
      parameters:
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: ClientId
          in: query
          schema:
            title: ClientId
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
  /app/api/Object/app.otg.Settings/Filter:
    post:
      tags:
        - app.otg
      description: Filter Settings
      operationId: filter--Settings
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Settings--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Settings--response'
  /app/api/Object/app.otg.Settings:
    post:
      tags:
        - app.otg
      description: Create Settings
      operationId: create--Settings
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Settings--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
  '/app/api/Object/app.otg.Settings({objectId})':
    patch:
      tags:
        - app.otg
      description: Update Settings
      operationId: update--Settings
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Settings--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
  /app/api/Object/app.otg.Settings/Recent:
    post:
      tags:
        - app.otg
      description: Recent Settings
      operationId: recent--Settings
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Settings--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Settings--response'
  /app/api/Object/app.otg.Settings/DataView:
    post:
      tags:
        - app.otg
      description: DataView Settings
      operationId: data-view--Settings
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Settings--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataview--Settings--response'
  '/app/api/Object/docuseal.Submission({objectId})/{formName}/DataForm':
    get:
      tags:
        - docuseal
      description: Get Form for Object
[...]
